<ion-view view-title="Tank Size">
    <ion-content>

        <!--<div style="margin: 20px">
            {{data.input1}}&nbsp;
            {{data.input1Units | json}}&nbsp;
        </div>-->

        <div style="margin: 20px">

            <div class="row">
                <div class="col col-20"><span class="input-label">Length:</span></div>
                <div class="col col-10"></div>
                <div class="col col-50"><input type="number" ng-model="data.input1" ng-change="calculate()" placeholder="required" class="item item-input"></div>
                <div class="col col-20"><select ng-model="data.input1Units" ng-change="calculate()" class="item item-input item-select">
                    <option ng-repeat="item in inputUnits" value="{{item.id}}">{{item.name}}</option>
                </select></div>
                <!--<div class="col">{{data.input1}}&nbsp;</div>
                <div class="col">{{data.input1Units | json}}&nbsp;</div>-->
            </div>

            <div class="row">
                <div class="col col-20"><span class="input-label">Width:</span></div>
                <div class="col col-10"></div>
                <div class="col col-50"><input type="number" ng-model="data.input2" ng-change="calculate()" placeholder="required" class="item item-input"></div>
                <div class="col col-20"><select ng-model="data.input2Units" ng-change="calculate()" class="item item-input item-select">
                    <option ng-repeat="item in inputUnits" value="{{item.id}}">{{item.name}}</option>
                </select></div>
                <!--<div class="col">{{data.input2}}&nbsp;</div>
                <div class="col">{{data.input2Units | json}}&nbsp;</div>-->
            </div>

            <div class="row">
                <div class="col col-20"><span class="input-label">Height:</span></div>
                <div class="col col-10"></div>
                <div class="col col-50"><input type="number" ng-model="data.input3" ng-change="calculate()" placeholder="required" class="item item-input"></div>
                <div class="col col-20"><select ng-model="data.input3Units" ng-change="calculate()" class="item item-input item-select">
                    <option ng-repeat="item in inputUnits" value="{{item.id}}">{{item.name}}</option>
                </select></div>
                <!--<div class="col">{{data.input3}}&nbsp;</div>
                <div class="col">{{data.input3Units | json}}&nbsp;</div>-->
            </div>

            <div class="col"><hr></div>

            <div class="row">
                <div class="col col-20"><span class="input-label">Capacity:</span></div>
                <div class="col col-10"></div>
                <div class="col col-50"><input type="number" ng-model="data.output" placeholder="" ng-disabled="true" class="item item-input"></div>
                <div class="col col-20"><select ng-model="data.outputUnits" ng-change="calculate()" class="item item-input item-select">
                    <option ng-repeat="item in outputUnits" value="{{item.id}}">{{item.name}}</option>
                </select></div>
                <!--<div class="col">{{data.output}}&nbsp;</div>
                <div class="col">{{data.outputUnits | json}}&nbsp;</div>-->
            </div>

            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col text-left">
                            <button class="button" ng-click="clearInputs()">Clear</button>
                        </div>
                        <div class="col text-right">
                            <button class="button" ng-click="calculateSize()">Calculate</button>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </ion-content>
</ion-view>
